li {
    list-style: none;
}

.total__price {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.actions {
    text-align: right;
}

.actions button {
    margin-right: 0.5rem;
    padding: 0.6rem 1.8rem;
    border-radius: 1.5rem;
    font-weight: normal;
}

.monochrome {
    color: #7e2607;
    background-color: #fff;
}

.monochrome:hover {
    color: #fff
}